<%= form_with(model: host, local: true) do |form| %>
  <% if host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :host_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :host_body %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :host_age %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :host_street %>
  </div>

  <div class="field">
    <%= form.label :babysitter_name %>
    <%= form.text_field :babysitter_name, id: :host_babysitter_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
