<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @host.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @host.body %>
</p>

<p>
  <strong>Age:</strong>
  <%= @host.age %>
</p>

<p>
  <strong>Street:</strong>
  <%= @host.street %>
</p>

<p>
  <strong>Babysitter Name:</strong>
  <%= @host.babysitter_name %>
</p>
<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
