<h1>Hello show</h1>
<%= notice %>
<%= link_to "All Posts", posts_path %>
<p>
  <p>ID: <%= @post.id%></p>
  <p>Title: <%= @post.title%></p>
  <p>Post Body: <%= @post.body%></p>
</p>

<%= link_to "Edit This Post", edit_post_path(@post) %>
